@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Gabarito:wght@400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', sans-serif;
}

:root {
    --strong-orange: #FF9C28;
    --light-orange: #FFAE4E;
    --lightier-orange: #FFFAF3;
    --lightest-orange: #FFFBF9;
    
    --simple-white: #FFF;

    --lighter-gray: #F5F5F5;
    --middle-gray: #404040;
    --mid-gray: #494949;
    --dark-gray: #252525;
    --darker-gray: #1C1C1C;
    --darkest-gray: #212121;
}

body {
    background-color: var(--lighter-gray) !important;
}

/* Theme button */
.btnContainer {
    width: max-content;
}
.btnTheme {
    width: 49px;
    height: 23px;
    background-color: white;
    display: flex;
    position: relative;
    border-radius: 50px;
    margin-right: 20px;
    
    float: right;
    cursor: pointer;
    scale: 2;

    box-shadow: inset -1px -1px 4px 0.1px #b4b4b4,
                inset 1px 1px 1px 0.1px #e9e9e9;
}

i {
    color: #111;
    font-size: 19px;
    transition: all 300ms ease;
    font-weight: 100;
}
#weather {
    line-height: 1.2;
    margin-left: 3px;
}
.active {
    transform: translateX(27px) rotate(350deg);
    color: #fff;
}
.changeBg {
    background-color: #414141;
    box-shadow: inset 2px 2px 7px 0.1px #000000;
}

/* Navbar */
#navdiv {
    background-color: var(--simple-white) !important;
    box-shadow: 0px 2px 5px 1px #00000034;
}
#navblock {
    width: 60%;
}
.navbar-brand {
    width: fit-content;
}

/* Logo */
#a-brand {
    padding: 0 !important;
}
#left {
    color: var(--strong-orange);
}
#right {
    color: var(--middle-gray);
}
.brand-title {
    font-weight: 700;
    font-size: 3.2vh;
    vertical-align: middle;
}

.navbar-text {
    width: fit-content;
    flex-direction: row-reverse;
}
#nav-itens a:hover {
    transform: scale(1.06);
    transition: 0.5s ease;
    color: var(--middle-gray);
}
.navbar-text a {
    color: var(--middle-gray);
}

/* Screen */
#catalog {
    text-align: center;
    padding-top: 11vh;
}
.screen-70 {
    width: 70%;
}
.btnThemeContainer {
    text-align: left;
    width: 48%;
}
#searchBarContainer {
    text-align: right;
    width: 50%;
    position: relative;
}
#searchBar {
    color: var(--mid-gray);
    
    padding-left: 2%;
    margin-right: 16%;
    font-size: 10px;
    height: 23px;
    width: 160px;
    scale: 2;
    border-radius: 10px;
    border: none;
    outline: 0;
    box-shadow: inset 1px 0.5px 2px 0.05px #c4c4c4,
                inset -1px -0.5px 2px 0.05px #c4c4c4;
}
#searchBar::placeholder {
    color: var(--lighter-gray);
    font-weight: 400;
}
#btnSearchIcon {
    position: absolute;
    z-index:10;
    border:none;
    background:transparent;
    outline:none;
    right: 8px;
    padding-top: 4px;
}
#searchIcon {
    background: transparent;
    border: none;
    color: var(--lighter-gray);
}

.block-group-1 {
    height: 130px;
    background-color: var(--lightest-orange);
    border-radius: 30px;
    box-shadow: 2px 3px 4px 0.1px #aaaaaa;
}
.block-number-container {
    background-color: var(--light-orange);
    width: 13%;
    height: 100%;
    vertical-align: middle;
    border-radius: 30px 0px 0px 30px;
}
.block-number {
    height: 100%;
    font-size: 40px;
    font-weight: 600;
    display: inline-block;
    color: var(--simple-white);
    line-height: 3.2;
}

.block-info-container {
    width: 50%;
    text-align: left;
    margin-left: 2%;
    margin-right: 4%;
    vertical-align: middle;
}
.block-info-container h1 {
    font-family: "Carlito", sans-serif;
    font-weight: 600;
    margin-top: 1%;
    margin-bottom: 3%;
    color: var(--strong-orange);
    text-shadow: 1px 1px 2px #0000003d;
}
.block-info-container h3 {
    font-size: 17px;
    font-weight: 700;
    color: var(--mid-gray);
}
.block-button-group {
    height: 50px;
    width: 30%;
}
.btnAction {
    background-color: var(--simple-white);
    box-shadow: 1px 2px 2px 0.1px #aaaaaa;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 0 !important;
    margin-right: 0.5vw;
}
.btnAction:hover {
    scale: 1.1;
    transition: all 300ms ease;
}
.btnActionIcon {
    padding: 2px;
    max-width: 40px;
    max-height: 40px;
}